src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b3d6fe21-3955-49dd-a5f2-b6d3f7efa43b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="b9e52176-0b96-4566-8350-9ececc7e704c" >
		<http:listener doc:name="Listener" doc:id="07cd9041-265c-4ecf-9188-7edfb03b5ae9" config-ref="HTTP_Listener_config" path="/api/hello"/>
		<set-payload value="#['Welcome to Jenkins Setup']" doc:name="Set Payload" doc:id="c820b6d3-0c73-46f8-930c-ed84e490e16b" />
	</flow>
</mule>
